{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Log out
{% endblock title %}
{% block main %}
<div class="col-md-8 offset-md-2 mt-6">
    <div class="account-content">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-6">
                <div class="login-header mb-3">
                    <p>Are you sure you want to log out?</p>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-danger" type="submit">{% trans 'Logout' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main %}