{% load static %}
<header>
<nav class="navbar navbar-expand-lg navbar-light mb-3 bg-white border-bottom shadow-sm">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse ml-4" id="navbarTogglerDemo03">
<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'about' %}"> About </a>
                </li>
            </ul>
    <div class="my-2 my-md-0 mr-md-3">
                {% if user.is_authenticated %}
                <div class="dropdown pr-3">
                    <div class="d-flex align-items-center" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                        <button class="btn btn-xs btn-circle btn-icon-only btn-soft dropdown-toggle mr-2" type="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span></button>
                        <p class="font-small m-0">
                            Hi, <b> {{ user.username }}</b>
                        </p>
                    </div>
                     <div class="dropdown-menu dropdown-menu-md" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header">Hi, {{ user.username }}</h6>
                        <a class="dropdown-item" href="{% url 'profile' %}"> My Account </a>
                        <a class="dropdown-item" href="{% url 'account_change_password' %}">Change password </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fa fa-power-off mr-2"></i>Log out</a>
                    </div>
                </div>
                {% else %}
                <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Sign Up</a>
                <a class="btn btn-success" href="{% url 'account_login' %}">Login</a>
                {% endif %}




</div>
</div>
</nav>
</header>